{% extends "admin/change_form.html" %}
{% load i18n static %}

{% block extrastyle %}
{{ block.super }}
{% if enhanced_type_selector %}
<link rel="stylesheet" href="{% static 'polymorphic/css/polymorphic_type_selector.css' %}">
{% endif %}
{% endblock %}

{% block extrahead %}
{{ block.super }}
{% if enhanced_type_selector %}
{% csrf_token %}
<script src="{% static 'polymorphic/js/polymorphic_type_selector.js' %}" defer></script>
{% endif %}
{% endblock %}

{% block content %}
{% if enhanced_type_selector %}
<div class="polymorphic-type-selector-wrapper">
  <h1>{{ title }}</h1>

  <div
    data-polymorphic-type-selector
    data-pts-async="false"
    data-pts-options='{{ pts_options_json|safe }}'
  ></div>
</div>
{% else %}
{{ block.super }}
{% endif %}
{% endblock %}

{% block submit_buttons_bottom %}
{% if not enhanced_type_selector %}
{{ block.super }}
{% endif %}
{% endblock %}

{% if save_on_top %}
  {% block submit_buttons_top %}
    {% if not enhanced_type_selector %}
    {% include 'admin/submit_line.html' with show_save=1 %}
    {% endif %}
  {% endblock %}
{% endif %}
